/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

button {
  font-size: 2rem;
  margin-bottom: 15px;
}

span{
  font-size: 2rem;
  font-weight: bold;
}

#game-container {
  text-align: center;
  display:flex;
  flex-direction: column;
  width: 75vw;
  margin: 10px auto;
  border: 2px solid red;
}

#category-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 2px solid orange;
}

#clue-board {
  flex-direction: column;
  border: 2px solid blue;
}

.clue-row {
  display: flex;
  border: 2px solid yellow;
}

.clue-box{
  display: flex;
  align-items: center; /*vertical*/
  justify-content: center; /*horizontal*/
  border: 2px solid white;
  background-color: navy;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  margin: 5px;
  height: 100px;
  flex: 1;
}

.category-box{
  font-size: .8rem;
  line-height: 25px;
}

.clicked-box{
  font-size: 1rem;
}








/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
